@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Luckiest+Guy&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}
.mainword {
    border: 3px solid bold;
    font-family: Arial, sans -serif;
    font-size: 156px;
    font-weight: bold;
    text-align:center;

}
.normal {
    border: 3px solid bold;
    font-family: Arial, sans -serif;
    font-size: 20px;
    font-weight: bold;
    text-align:center;
}
.ad {
    border: 3px solid bold;
    font-family: Arial, sans -serif;
    font-size: 30px;
    font-weight: bold;
    text-align:left;
}
.link {
    border: 3px solid bold;
    font-family: Arial, sans -serif;
    font-size: 20px;
    font-weight: bold;
    text-align:right;
}
.normal input{
    font-size: 16px;
    border-radius: 10px;
}

.ad input[type=submit]  {
    background-color: #2552ce;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 50px 700px;
    font-size: 30px;
    cursor: pointer;
  }
  .ad input[type=text]{

        width: 20%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;


  }